/* Font Inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;

    /* Color Title #hero */
    --color-purple: #9023d9;

    /* Color Icon dark light mode */
    /* #navbar */
    --icon-fill: black;
    --icon-fill-purple: var(--icon-purple-secondary);
    /* #work */
    --icon-purple-primary: #9023d9;
    --icon-purple-secondary: #be83e6;

    /* color background dark light mode */
    --bg-color: black;
    --bg-navbar: rgba(255, 255, 255, 0.75);
    --btn-purple: black;

    /* Color Text #pin3D*/
    --color-text-3d: black;

    /* Color Globe #globe */
    --color-globe: #800080;

    /* Color SVG */
    --bg-grid-item: #420f65;

    .bg-card {
      background: #f4eff9;
    }

    /* Color Blog */
    .bg-hero-blog {
      background: #f6f6f6;
    }

    --chart-1: 12 76% 61%;

    --chart-2: 173 58% 39%;

    --chart-3: 197 37% 24%;

    --chart-4: 43 74% 66%;

    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;

    /* Color Base Dynamic */
    --color-purple: #cbacf9;

    /* color icon dark light mode */
    --icon-fill: white;
    --icon-fill-purple: #cbacf9;

    /* #work */
    --icon-purple-primary: white;
    --icon-purple-secondary: purple;

    /* color background dark light mode */
    --bg-color: white;
    --bg-navbar: rgba(17, 25, 40, 0.75);
    --bg-bento: "rgb(4,7,29)";
    --bg-bento-gradient: "linear-gradient(90deg, rgba(4,7,29,1) 0%, rgba(12,14,35,1) 100%)";
    --btn-purple: #cbacf9;

    /* Color Text #pin3D*/
    --color-text-3d: white;

    /* Color Globe #globe */
    --color-globe: #062056;

    /* Color SVG */
    --bg-grid-item: #ffff;

    .bg-card {
      background: linear-gradient(90deg, #161a31 0%, #06091f 100%);
    }

    /* Color Blog */
    .bg-hero-blog {
      background: #262626;
    }

    --chart-1: 220 70% 50%;

    --chart-2: 160 60% 45%;

    --chart-3: 30 80% 55%;

    --chart-4: 280 65% 60%;

    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border !scroll-smooth;
  }
  body {
    @apply bg-background text-foreground;
  }
  button {
    @apply active:outline-none;
  }
}

@layer utilities {
  .heading {
    @apply font-bold text-4xl md:text-5xl text-center;
  }

  /* Project Class Name */
  .heading-project {
    @apply font-bold text-4xl md:text-5xl text-left;
  }

  .heading-center {
    @apply font-bold text-4xl md:text-5xl text-center;
  }

  /* Blog Class Name */
  .heading-blog {
    @apply font-bold text-3xl md:text-4xl text-center;
  }

  * {
    font-family: "Inter", serif;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
